body {
  background-color: black
}
h1 {
  color: white;
  text-align: center;
  font-size: 50px
}
h2 {
  text-align: center;
  color: white;
  font-size: 30px
}
p{
  color:white
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  overflow: auto;
  position: sticky;
  top: 0;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.jumbotron{
  background-repeat: no-repeat;
  background-size: cover;
  width: 1100px;
  height:300px;
  align: center
}
.clock{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  font-size: 80px;
  border: 1px solid #ccc;
  padding: 0px 5px 0px 5px;

